<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Założenie konta</title>
	</head>
	<body>
		<h2>Witaj,
			{{ user.getName }}
			{{ user.getSurname }}
		</h2>
		Kliknij w
		<a href="{{ link }}">link</a>
		aby dokończyć rejestrację.
		<br/><br/><br/>
		<span style="font-size: small">
			--<br/>
			Wiadomość wygenerowana automatycznie. Prosimy nie odpowiadać.
		</span>
	</body>
</html>
