{% extends 'layout/app/app.html.twig' %}

{% block title %}Panel finansowy {{ parent() }}{% endblock %}

{% block body %}
    {% include 'layout/app/parts/appBreadcrumb.html.twig' %}

    <section class="content">

        {# KONTA BANKOWE #}
        {% include 'view/app/app/parts/account.html.twig' %}
        {# KONTA BANKOWE #}

        <div class="row">
            <div class="col-12 col-sm-6">
                {% include 'view/app/app/parts/lastTransaction.html.twig' %}
            </div>
            <div class="col-12 col-sm-6">
                {% include 'view/app/app/parts/bill.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {% include 'view/app/app/parts/categories.html.twig' %}
            </div>
            <div class="col-6">
                {% include 'view/app/app/parts/differenceChart.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dep/AdminLTE/plugins/chart.js/Chart.min.js') }}"></script>
    <script>
        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var donutData        = {
            labels: [
                'Chrome',
                'IE',
                'FireFox',
                'Safari',
                'Opera',
                'Navigator',
            ],
            datasets: [
                {
                    data: [700,500,400,600,300,100],
                    backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }
            ]
        }
        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieData        = donutData;
        var pieOptions     = {
            maintainAspectRatio : false,
            responsive : true,
            legend: {
                position: 'left'
            }
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        var pieChart = new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
            options: pieOptions
        })
    </script>
{% endblock %}